#CustomColors {
  position: absolute;
  /* .sketch-picker {
      width: 225px !important;
      .flexbox-fix {
        label {
          text-align: left !important;
          padding-top: 9px !important;
          padding-left: 3px;
          padding-bottom: 13px !important;
        }
      }
      #rc-editable-input-1 {
        width: 87% !important;
      }
    } */
}
#gis-legend {
  position: absolute;
  left: 30px;
  bottom: 10px;
  background-image: url('../../../img/colorpicker.png') !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 390px;
  height: 75px;
}
#gis-legend .self-legend {
  padding-top: 5px;
  color: #ffffff;
}
#gis-legend .self-legend span:first-child {
  padding-left: 8px;
}
#gis-legend .self-legend span:last-child {
  float: right;
  padding-right: 8px;
}
#gis-legend #gis-legend-bar {
  display: flex;
  height: calc(100% - 28px);
  padding-top: 30px;
  padding-left: 20px;
}
#gis-legend #gis-legend-bar > span {
  color: #ffffff;
  position: absolute;
  top: 35px;
}
#gis-legend #gis-legend-bar .color-picker {
  width: 13.6%;
  height: 10px;
  border: 2px solid #000200;
  border-right: none;
}
#gis-legend #gis-legend-bar .color-picker > span {
  padding-right: 0px;
  color: #ffffff;
  position: absolute;
  top: 35px;
}
#gis-legend #gis-legend-bar .color-picker .picker-text {
  padding-left: 35px;
}
#gis-legend #gis-legend-bar .color-picker:last-child {
  border-right: 2px solid #000200;
}
.ant-modal.modal-class {
  padding-bottom: 0px;
}
.ant-modal.modal-class .modal-content-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.ant-modal.modal-class .modal-content-bar .modal-content-title {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.ant-modal.modal-class .modal-content-bar .modal-content-title::before {
  content: '';
  background-color: #13b3b3;
  display: inline-block;
  margin-right: 5px;
  width: 3px;
  height: 20px;
}
.ant-modal.modal-class .ant-tabs .ant-tabs-tab {
  font-size: 20px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(28, 219, 254, 0.4);
}
.ant-modal.modal-class .ant-tabs .ant-tabs-tabpane-active > .ant-row:first-child {
  margin-top: 0px;
  margin-bottom: 10px;
}
.ant-modal.modal-class .ant-tabs .ant-tabs-tab-btn {
  color: rgba(19, 179, 179, 0.6) !important;
}
.ant-modal.modal-class .ant-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #13b3b3 !important;
}
.ant-modal.modal-class .ant-tabs .ant-tabs-ink-bar {
  background-color: #13b3b3;
}
.ant-modal.modal-class .ant-tabs .ant-tabs-nav::before {
  border-bottom-color: rgba(0, 0, 0, 0.17);
}
.ant-modal.modal-class .ant-modal-content {
  border-radius: 8px 6px;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-header {
  background: linear-gradient(90deg, #0b9aa7 0%, #0b89a7 50%, #0b9aa7 100%);
  height: 100%;
  width: 100%;
  background-image: url('../../../img/modal-head.png') !important;
  background-size: cover;
  background-repeat: no-repeat;
  border: none !important;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-header .ant-modal-title {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-close {
  color: white;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  /* background: #ededed; */
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  /* box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); */
  border-radius: 10px;
  background-color: 1px solid #dcdcdc;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body {
  background: #ffffff;
  padding: 30px 50px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto !important;
  scrollbar-arrow-color: #f0f0f0;
  /*设置滚动框和滚动条箭头的颜色*/
  scrollbar-face-color: #f0f0f0;
  /*设置滚动框和滚动条箭头的颜色*/
  scrollbar-3dlight-color: #f8f8ff;
  /*设置滚动框的和滚动条箭头左上边缘的颜色*/
  scrollbar-highlight-color: #f8f8ff;
  /*设置滚动框的和滚动条箭头左上边缘的颜色*/
  scrollbar-shadow-color: #f8f8ff;
  /*设置滚动框的和滚动条箭头右下边缘的颜色*/
  scrollbar-darkshadow-color: #f8f8ff;
  /*设置滚动条槽的颜色*/
  scrollbar-track-color: #f8f8ff;
  /*设置滚动条轨迹组成部分的颜色*/
  scrollbar-base-color: #f8f8ff;
  /*设置滚动条主要构成部分的颜色*/
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-label > label {
  color: #666666;
  font-size: 20px;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > .ant-radio-group .ant-radio-wrapper span {
  color: #01b8f4;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > .ant-radio-group .ant-radio-wrapper .ant-radio {
  color: #01b8f4;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > .ant-radio-group .ant-radio-wrapper .ant-radio-inner {
  background-color: transparent;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > .ant-radio-group .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color: #01b8f4;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > .ant-radio-group .ant-radio-wrapper .ant-radio-inner::after {
  background-color: #01b8f4;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > div {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > .ant-input-number {
  color: #666666;
  border: 1px solid #cccccc;
  border-radius: 5px !important;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > input {
  color: #666666;
  border: 1px solid #cccccc;
  border-radius: 3px !important;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > input:focus {
  border: 1px solid #cccccc;
  box-shadow: none;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > textarea {
  color: #666666;
  border: 1px solid #cccccc;
  border-radius: 3px !important;
  font-size: 16px;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > .ant-tree-list {
  color: #666666;
  border: 1px solid #cccccc;
  border-radius: 3px !important;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > .ant-input-affix-wrapper {
  border-radius: 3px !important;
  border: 1px solid #cccccc;
  height: 36px;
  line-height: 36px;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > .ant-input-affix-wrapper input {
  color: #666666;
  font-size: 16px;
  line-height: inherit;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > .ant-select .ant-select-selector {
  border: 1px solid #cccccc;
  height: 36px;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > .ant-select .ant-select-selector .ant-select-selection-overflow .ant-select-selection-item {
  height: 28px;
  line-height: 34px;
  color: #666666 !important;
  border: none;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > .ant-select .ant-select-selector .ant-select-selection-overflow .ant-select-selection-item .ant-select-selection-item-content,
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > .ant-select .ant-select-selector .ant-select-selection-overflow .ant-select-selection-item .ant-select-selection-item-remove {
  line-height: 28px;
  display: flex;
  align-items: center;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > .ant-select .ant-select-selector .ant-select-selection-overflow .ant-select-selection-overflow-item-suffix {
  display: none;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > .ant-select .ant-select-selector .ant-select-selection-item {
  line-height: 34px;
  color: #666666 !important;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > .ant-select .ant-select-selector .ant-select-selection-placeholder {
  line-height: 34px;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > .ant-select .ant-select-selector input {
  color: #666666;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > .ant-select .ant-select-arrow,
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > .ant-select .ant-select-clear {
  color: #666666;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > .ant-picker {
  border: 1px solid #cccccc;
  height: 36px;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > .ant-picker input {
  color: #666666;
  font-size: 16px;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > .ant-picker .ant-picker-suffix,
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content > .ant-picker .ant-picker-clear {
  color: #666666;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content .ant-select-single.ant-select-open .ant-select-selection-item {
  color: #666666 !important;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content .ant-upload-picture-card-wrapper {
  color: #13b3b3;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content .ant-upload-picture-card-wrapper .ant-upload.ant-upload-select-picture-card {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 3px !important;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control .ant-form-item-control-input-content .ant-upload-picture-card-wrapper .ant-upload.ant-upload-select-picture-card .anticon {
  color: #666666;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-body .amap-container {
  background: transparent !important;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-footer {
  border: none;
  background: #ffffff;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 35px;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-footer .ant-btn + .ant-btn:not(.ant-dropdown-trigger) {
  margin-left: 20px;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-footer .ant-btn-default {
  background-color: #eeeeee;
  width: 99px;
  border: none;
  color: #666666;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-footer > button:first-child {
  width: 99px;
  border: none;
  color: #666666;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-footer > button:first-child:hover {
  opacity: 0.8;
}
.ant-modal.modal-class .ant-modal-content .ant-modal-footer > button:nth-child(2) {
  width: 99px;
  border: none;
  color: #ffffff;
}
.self-modal {
  width: 450px !important;
  position: absolute;
  top: 100%;
  left: 0%;
  /* .ant-modal-header{
      background-image: url('../../../Contents/img/baseinfo/modal-head.png') !important;
      background-size:contain !important;
      background-repeat: no-repeat;
  
    } */
}
.self-modal #picker-div {
  /*  */
}
.self-modal #picker-div .row-first {
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  height: 45px;
  border: 1px solid #dddddd;
  color: #333333;
  font-weight: bold;
  background-color: #f4f4f4;
}
.self-modal #picker-div .row-first .row-first-one {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #dddddd;
}
.self-modal #picker-div .row-first .row-first-two {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.self-modal #picker-div .list-div {
  padding: 8px !important;
  height: 45px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #dddddd;
  border-bottom: none;
}
.self-modal #picker-div .list-div .list-div-next {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #dddddd;
}
.self-modal #picker-div .list-div .list-div-next div:nth-child(2) {
  width: 39px;
  text-align: center;
  margin-left: 50px;
}
.self-modal #picker-div .list-div .list-div-next div:nth-child(2) .ant-input {
  width: 35px;
  padding: 0 !important;
}
.self-modal #picker-div .list-div .list-div-next div:nth-child(3) {
  text-align: center;
  width: 39px;
}
.self-modal #picker-div .list-div .list-div-next div:nth-child(3) .ant-input {
  width: 32px;
  text-align: center;
  padding: 0 !important;
}
.self-modal #picker-div .list-div .list-div-next div:nth-child(4) {
  padding-left: 1px;
  text-align: left;
  width: 38px;
}
.self-modal #picker-div .list-div .list-div-next div:nth-child(4) .ant-input {
  width: 32px;
  padding: 0 !important;
}
.self-modal #picker-div .list-div .list-div-next .list-div-next-color {
  width: 35px;
  height: 13px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
}
.self-modal #picker-div .list-div .list-div-next .test,
.self-modal #picker-div .list-div .list-div-next .fit-width {
  position: absolute;
  right: 50%;
  margin-right: -45px;
}
.self-modal #picker-div .list-div .list-div-next input:last-child {
  width: 30px;
}
.self-modal #picker-div .list-div .list-div-end {
  width: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.self-modal #picker-div .list-div .list-div-end .list-div-end-edit .ant-input {
  width: 60px;
  text-align: center;
  padding: 0 !important;
}
.self-modal #picker-div .list-div:last-child {
  border-bottom: 1px solid #dddddd;
}
