#container {
  width: 100%;
  height: calc(100vh - 152px);
}
.edit {
  height: 152px;
  width: 288px;
  background-color: white;
  position: absolute;
  bottom: 6%;
  right: 56px;
  border: 1px solid #ccc;
}
.edit .btn {
  height: 35px;
  margin: 2px;
}
.edit h2 {
  color: #25a5f7;
  margin-top: 5px;
  text-align: center;
  line-height: 18px;
  font-family: Microsoft YaHei;
}
div.amap-info {
  width: 5rem;
}
.amap-info-contentContainer {
  width: 80%;
  height: 100%;
}
.amap-info-contentContainer .amap-info-content {
  overflow: hidden;
}
.content-window-card {
  position: relative;
  box-shadow: none;
  bottom: 0;
  left: 0;
  width: auto;
  height: 100%;
  padding: 0;
}
.content-window-card p {
  height: 2rem;
}
.custom-info {
  border: solid 1px silver;
}
div.info-top {
  position: relative;
  background: none repeat scroll 0 0 #f9f9f9;
  border-bottom: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
}
div.info-top div {
  display: inline-block;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  line-height: 31px;
  padding: 0 10px;
}
div.info-top img {
  position: absolute;
  top: 10px;
  right: 10px;
  transition-duration: 0.25s;
}
div.info-top img:hover {
  box-shadow: 0px 0px 5px #000;
}
div.info-middle {
  font-size: 12px;
  padding: 12px 6px 10px;
  line-height: 20px;
}
div.info-middle img {
  height: 75px;
  float: left;
  margin-right: 6px;
  margin-top: 1px;
}
div.info-bottom {
  height: 0px;
  width: 100%;
  clear: both;
  text-align: center;
}
.custom-input-card {
  width: 22rem;
}
.custom-input-card .btn {
  margin-right: 1rem;
}
.custom-input-card .btn:last-child {
  margin-right: 0;
}
.info-title {
  color: white;
  font-size: 14px;
  background-color: #25a5f7;
  line-height: 26px;
  padding: 0px 0 0 6px;
  font-weight: lighter;
  letter-spacing: 1px;
}
.info-content {
  font: 12px Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial;
  padding: 4px;
  color: #666666;
  line-height: 23px;
}
.info-content img {
  float: left;
  margin: 3px;
}
.amap-info-combo .keyword-input {
  height: 25px;
  border-radius: 2px 0 0 2px;
}
.ant-btn:focus {
  color: rgba(0, 0, 0, 0.85) !important;
  border-color: #d9d9d9 !important;
}
